*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
*.npm
*.apiconnect
.DS_Store
**/*.DS_Store
*/.DS_Store
.idea
.project
.strong-pm
*.history
*.vscode
.vscode
**/.vscode
coverage
node_modules
npm-debug.log
**/node_modules
*/node_modules
**/dist
**/data
**/tsconfig.tsbuildinfo
client/node_modules
client/dist
lib
.apiconnect
.settings
.env
# credentials
credentials.json
data/botkit
secrets.txt
frame.jpg
**/model/

